{% extends "layout_stages.html" %}
{% block content %}	
<section>
	<article>
		<div class="Introduction">
            <h2 class="blog-post-title">About the Author</h2>
            <p class="blog-post-meta">Sat Feb 28th, 2016 by <a href="about.html">David</a></p>

            <p>As a student new to programming I am hoping to contimue and build upon this Stage 4 foundation, beyond graduation of the Intro program, my goal is to take the Front End Program. I aspire to be a web developer, I live in Chicago with my husband and our four legged child Pucci Tino.</p>
            <hr>

		</div><!-- /.blog-post -->
	</article>

</section>	

{% endblock %}