{% extends "layout_stages.html" %}
{% block content %}		
<section>
	<article>
		<div class="Contact Details">
            <h3 class="contact-details-title">Stage 4 Project Submission</h3>
            <p class="contact-details-meta">Sat Feb 28th, 2016 by <a href="about.html">David</a></p>

   			<p>This part of the site is currently still under-construction. If you would like to get in contact with me directly please use the "Leave a Comment" section, or you can email me directly at <a href="mailto:dkennedychicago@gmail.com" alt="gmail address">dkennedychicago@gmail.com</a></p>
            <hr>
		</div><!-- /.blog-post -->
	</article>

</section>	


{% endblock %}
