{% extends "layout.html" %}
{% block content %}	

<section>
	<article>
		<div class="Introduction">
            <h3 class="ipnd-notes-title">Stage 4 Project Submission</h3>
            <p class="ipnd-notes-meta">Sat Feb 28th, 2016 by <a href="about.html">David</a></p>

            <p>Hi,<br>
             This is my revised submission for Stage 4 "Add Comment" Project. I am hoping to build out more functionality in Stage 5 so this is a work in progress. For notes specific to <a href="/stage4.html" alt="stage4 notes" target="_blank">Stage 4</a>, click here or use the navbar link. For more detailed notes for Stages 1, 2, and 3, my "Old Notes" site can be accessed <a href="static/oldipndnotes.html" alt="old notes link" target="_blank">here</a> and in the navbar.<br>
             Thank you for stopping by!</p>
            <hr>
		</div><!-- /.blog-post -->
	</article>

</section>	

{% endblock %}